# Title of the notebook

This is the introduction, for exercise 3.

## Data Science Languages

- Python
- R
- Julia
- SQL
- SCALA
- MATLAB

## Data Science Libraries

- Pandas
- Numpy
- scikit-learn
- Matplotlib
- Seaborn
- Plotly
- Tensorflow

## Tools

- R Studio
- Python
- SQL
- Jupyter Notebooks / Labs
- Anaconda
- git

## Introduction to Arithmetic expressions examples

In this section we describe arithmetic expression examples..

## Introduction to Arithmetic expressions examples

In this section we describe arithmetic expression examples..

## Introduction to Arithmetic expressions examples

In this section we describe arithmetic expression examples..

In [ ]:
# Code cell to multilpy and add two numbers

x = 3
y = 5

z = x * y
q = x + y

In [ ]:
# Convert minutes to hours
minutes = 5
seconds = 60
hours = minutes * 60

## Objectives

The objectives are:

* Python
* R
* Data Science

## Authors name

Frank

## Share notebook on Github

https://github.com/devtox/notebook1